#page-container {
    position: relative;
    min-height: 100vh;
}
#page-container-no-footer {
    position: relative;
    min-height: 95vh;
}
header {
    background-color: whitesmoke;
    color: black;
    text-align: center;
    box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.1);
}
#content {
    padding-right: 10px;
    padding-left: 10px;
    overflow: auto;
    padding-bottom: 2.5rem;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.login-table {
    border-collapse: collapse;
}
.login-table th,
.login-table td {
  padding: 15px;
}
.comment-edit {
    min-width: 10px;
    max-width: 150px; 
    word-wrap: break-word;
}

.welcome-login-text {
    padding-top: 5px;
    margin: 5px;
    font-size: medium;
    font-weight: 400;
    color: black;
}
.login-via-ucl {
    display: inline-block;
    background-color: #52347B;
    color: #FFFFFF;
    text-align: center;
    font-size: medium;
    padding: 12px;
    transition: all 0.3s;
    cursor: pointer;
    margin: 0px;
    font-weight: 600;
    border: 2px solid #52347B;
    border-radius: 5px;
    width: 100%;
    
}
.login-via-ucl:hover {
    color: #FFFFFF;
    background-color: #F06747;
}
.login-via-ucl-text {
    margin-left: 1px;
    font-size: medium;
    font-weight: 500;
    color: black;
}
.login-other {
    display: inline-block;
    background-color: white;
    color: #52347B;
    text-align: center;
    font-size: medium;
    padding: 7px;
    transition: all 0.3s;
    cursor: pointer;
    margin: 1px;
    font-weight: 600;
    border: 2px solid #52347B;
    border-radius: 5px;
    width: 100%;
}

.login-other:hover {
  background-color: #52347B; 
  color: white; 
  border: 0px solid #52347B;
}
.your-modules-table {
    border:none;
}
.your-modules-row {
}
.your-modules-td {
    padding-right: 10px;
    text-align: left;
}
.large-section-title {
    color: #404040;
}
.section-title {
    font-size: large;
    margin-bottom: 5px;
    color: #606060;
}
.section-contents {
    font-size: medium;
    color: #696969;
    display:flex; 
    flex-direction: row; 
    justify-content: left; 
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
 
.table-week {
    min-width: 50px;
    max-width: 50px;
}
.table-group-number {
    min-width: 60px;
    max-width: 60px;
}
.table-rating {
    min-width: 80px;
    max-width: 80px;
}
.table-task-actual {
    min-width: 65px;
    max-width: 65px;
}
.table-comment {
    word-wrap: break-word;
    min-width: 20vw;
    max-width: 20vw;
}
.table-actions {
    word-wrap: break-word;
    min-width: 20vw;
    max-width: 20vw;
}
.table-meeting-date {
    word-wrap: break-word;
    min-width: 135px;
    max-width: 135px;
}
.meeting-date {
    word-wrap: break-word;
    min-width: 135px;
    max-width: 135px;
}
.meeting-duration {
    word-wrap: break-word;
    min-width: 70px;
    max-width: 70px;
}


/*************** UCL SPECIFIC CLASSES ************************/
/*************** UCL SPECIFIC CLASSES ************************/
/*************** UCL SPECIFIC CLASSES ************************/
/*$AClog: $*/
/*/MSD/SITS/siweb/css/sitsucl.css 045 17/11/08 10:30:30 uczbjpo*/
/*Comment: Add the class name to property .ucllink a:visited*/
/*/MSD/SITS/siweb/css/sitsucl.css 044 16/09/28 09:51:48 uczmahi*/
/*Comment: Add UCL Indigo branding rules for SITS 9.2.0*/
/*/MSD/SITS/siweb/css/sitsucl.css 043 15/12/03 16:38:48 cceajrb*/
/*Comment: Amended CSS file as OK'd by PSO*/
/*/MSD/SITS/siweb/css/sitsucl.css 041 14/12/11 16:10:25 cceadsh*/
/*Comment: New active link for headers*/
/*/MSD/SITS/siweb/css/sitsucl.css 040 14/11/28 16:03:34 uczmmca*/
/*Comment: added classes to override siw_ymes unreadable text*/
/*/MSD/SITS/siweb/css/sitsucl.css 039 14/11/26 11:29:27 cceadsh*/
/*Comment: Updated with curriculum planner styles*/
/*/MSD/SITS/siweb/css/sitsucl.css 038 14/02/26 14:58:09 uczmmca*/
/*Comment: !important syntax corrected*/
/*/MSD/SITS/siweb/css/sitsucl.css 037 14/02/26 12:21:21 uczmmca*/
/*Comment: font-variant:normal*/
/*/MSD/SITS/siweb/css/sitsucl.css 036 13/08/06 08:31:02 uczmahi*/
/*Comment: Moved semicolon*/
/*/MSD/SITS/siweb/css/sitsucl.css 035 13/08/02 15:27:37 uczmahi*/
/*Comment: Add #blackout and #loading for disabling screen during long ops.*/
/*/MSD/SITS/siweb/css/sitsucl.css 034 13/07/24 10:46:01 uczmahi*/
/*Comment: Style textareas like input type="text"*/
/*/MSD/SITS/siweb/css/sitsucl.css 033 13/03/22 17:00:11 uczmmca*/
/*Comment: corrected typo sitsheaderimage1*/
/*/MSD/SITS/siweb/css/sitsucl.css 032 13/03/22 16:54:52 uczmmca*/
/*Comment: added sitsheaderimage1 image for UCL logo link*/
/*/MSD/SITS/siweb/css/sitsucl.css 031 13/02/13 15:22:09 uczmmca*/
/*Comment: added left and right classes*/
/*/MSD/SITS/siweb/css/sitsucl.css 030 13/02/08 15:56:27 uczrddo*/
/*Comment: SCR09289 amended button characteristics*/
/*/MSD/SITS/siweb/css/sitsucl.css 028 13/01/02 16:15:21 uczmmca*/
/*Comment: remove colour from sitstabledescription link*/
/*/MSD/SITS/siweb/css/sitsucl.css 027 12/12/21 12:07:07 uczmmca*/
/*Comment: added basic h2 style*/
/*/MSD/SITS/siweb/css/sitsucl.css 026 12/12/20 16:33:10 uczmmca*/
/*Comment: correct image for ucllink*/
/*/MSD/SITS/siweb/css/sitsucl.css 025 12/12/19 16:15:11 uczmmca*/
/*Comment: correct image for ucllink*/
/*/MSD/SITS/siweb/css/sitsucl.css 024 12/12/14 11:56:44 UCZMMCA*/
/*Comment: added img.figure*/
/*/MSD/SITS/siweb/css/sitsucl.css 023 12/12/13 12:26:22 uczmmca*/
/*Comment: added .uclportallink*/



#portico{
	color:#fff;
	float:left;
	margin: 10px 0 0 10px;
	font-weight:bold;
}

#halonav{
	background:#29A6C9;
	color:#fff;
	width:100%;
	height:26px;
	float:left;
}

#halonav{
	margin:0;
	padding:0;
}

#halonav ul li{float:left;line-height:26px;}
#halonav ul{margin-left:10px}
#halonav li.halospacer{width:20px;text-align:center}
#halonav li.normaltab{display:none}
#halonav li {font-size:12px;font-weight:bold;text-decoration:none;color:#fff}
#halonav li a{font-size:12px;font-weight:bold;text-decoration:none;color:#fff}

/* NEW STYLES TO CONTROL EVISION FOOTER AND MAKE IT APPEAR LIKE THE ONE FOUND ON UCL.AC.UK */

#footer1{
	padding: 2px 8px;
	border-bottom:15px solid #000;
}
#footer2{
	padding: 10px 8px;
}

#footer3{
	padding: 0 8px;
	color: #666666;
	font: 11px arial,sans-serif;
	font-variant:normal;
}

/* NEW STYLES TO CREATE THE PORTICO SUB-HEADER ON ALL PAGES, AND FLOATING RIGHT ALIGNED LOGIN STATUS BOX */

#subport{
	color: #2C6B7D;
	font-size: 0.75em;
	font-weight: bold;
	text-transform: uppercase;
	margin-top:25px;
	margin-left:2px;
}

#loginstatus{
	position:absolute;
	background:#f2f2f2;
	right:0;
	top:170px;
	padding: 3px 5px 5px;
	width:200px;
}

#logincontent{
	padding-right:90px
}

.login1{  
	color: #A6A6A6;
	font: 0.5em verdana;
	letter-spacing: 2px;
	margin-bottom: 9px;
	text-transform: uppercase;min-width:130px;float:left
}

.login2{ 
	color: #666666;
	font-size: 0.8em;
	font-weight: bold;
	line-height: 0.7;
	float:left;
	clear:both;
       padding-top:1px;
       min-width:200px;
       line-height: 1;
	width:200px;
}
	
.logintext{
	float:left;
	width:49%
}

.logouttext{
	float:right;
	width:49%
}
	
/* CLASSES TO CONTROL LOOK/FEEL OF CONTAINERS AND TABLE GRID CLASSES ON THE PORTAL */	
	
.CONTAINER{
	background-color:#29A6C9;
}

.CONTAINER img{
}

.CONTAINER td{
}

.CONTAINER tr{
}

.CONTAINER h3{
	color: #fff;
	font-size: 26px;
	letter-spacing: -0.5px;
	padding: 0px 2px;
	font-weight:normal;
	margin:0;
	line-height:30px
}

.sitscopicon{
vertical-align: top !important;
}


 /* THE FOLLOWING ARE RELATED TO THE ABOVE CLASSES, AND CONTROL SMALL CHANGES IN LAYOUT NEEDED TO MIMIC UCL BRAND IN EVISION */
 
#sitspagecontent form{width:99%}
#sitspagecontent label{text-align:left}
#sitspagecontent div#sitspagecontent{margin-left:0;}
#sitspagecontent div#sitspagecontent #sitspagetitlesection{margin-left:0;}
#sitspagecontent div#sitspagecontent #sitspagetitle{margin-left:0;}
#sitspagecontent div#sitspagecontent table{
                                           width:100% !important;
                                           }
#sitspagecontent table.bgborder{
                                *width:95% !important;
                                }
#sitspagecontent table{width:100%}
#sitspagecontent form{margin-top:40px;}
#sitspagecontent #sitspagecontent table.sitstablegrid {
                                                       *width:98% !important;
                                                       }
#sitspagecontent #sitspagecontent #sitspagetitlesection{
                                                        *margin-top:-40px !important;
                                                        }
#sitspagecontent #sitspagecontent #sitspagetitlesection #vistaheader{
                                                                     *margin-top:0px !important;
                                                                     }
#sitspagecontent #sitspagedatasection table.sitstablegrid {
                                                           *width:98% !important;
                                                          }
#sitspagecontent form #sitspagedatasection {
                                            *width:100% !important;
                                            }
#sitspagecontent #sitspagecontent {
                                   margin-top:0px !important;
                                  }
#sitspagecontent form #sitspagetitlesection #sitspagetitle{
                                                           margin-top:-40px !important;
                                                           }
#sitspagecontent form #sitspagetitlesection {
                                             padding-bottom:0 !important;
                                             }
/*mc make sits_page_background relative so can position other absolute attributes against it*/
#sits_page_background {position: relative}

.vistahead{
text-align:left;
width:300px;
}

/* NEW STYLE CLASSES TO CONTROL DEFAULT LOOK OF BUTTONS THROUGHOUT PORTAL AND MIMIC NEW UCL BRANDING */

.sitstablegrid input[type="submit"]{
	background-color: #67B0C1;
	border: medium none;
	color: white;
	font-size:12px;
	padding: 2px 6px 3px;
    cursor: hand !important; cursor:pointer;
}

.sitstablegrid input[type=submit]:hover
{
  background-color: #29A6C9
}

.sitstablegrid input[type="text"]{
	border: 1px solid black;
	font: 12px arial;
	padding: 1px;
	height:18px;
}

.sitstablegrid input[type="select"]{
	border: 1px solid black;
    font: 12px arial;
    padding: 1px;
	height:18px;
}

#sitspagedatasection input[type="button"]{
	background-color: #67B0C1;
	border: medium none;
	color: white;
	font-size:12px;
	padding: 2px 6px 3px;
}


#sitspagedatasection input[type="submit"]{
	background-color: #67B0C1;
	border: medium none;
	color: white;
	font-size:12px;
	padding: 2px 6px 3px;
    cursor: hand !important; cursor:pointer;
}


#sitspagedatasection input[type=submit]:hover
{
  background-color: #29A6C9
}



#sitspagedatasection input[type="text"]{
	border: 1px solid black;
    font: 12px arial;
    padding: 1px;
	height:18px;
}

#sitspagedatasection  input[type="select"]{
	border: 1px solid black;
    font: 12px arial;
    padding: 1px;
	height:18px;
}

/*mc added disabled - grey background else as per submit*/
#sitspagedatasection  input[disabled="disabled"]{
	background-color: #dcdcdc;
	border: medium none;
	color: white;
	font-size:12px;
	padding: 2px 6px 3px;
	cursor: default;
} 

.bgformin input{
	border: 1px solid black;
    font: 12px arial;
    padding: 1px;
	height:18px;
}


.bgformin select{
	border: 1px solid black;
    font: 12px arial;
    padding: 1px;
	height:18px;
}

.bgformin input[type="submit"]{
	background-color: #67B0C1;
    border: medium none;
    color: white;
    padding: 2px 6px 3px;
}

.bgformsub input[type="submit"]{
	background-color: #67B0C1;
    border: medium none;
    color: white;
    padding: 2px 6px 3px;
}

.formsubfree{
    background-color: #67B0C1;
    border: medium none;
    color: white;
    padding: 2px 6px 3px;
    font-size:12px;
    cursor: hand !important; cursor:pointer;
    margin-bottom:3px
}


/*SRL-text html buttons*/
.formsubfree[type=submit]:hover
{
  background-color: #29A6C9
}

/*Tribal standard TTQ buttons*/
input.formsubfree[type=button]:hover
{
  background-color: #29A6C9
}


.formsub80{
	*background-color: #67B0C1;
	*border: medium none;
	*color: white;
	*padding: 2px 6px 3px;
	*font: 12px arial;
}

input.forminfree{
	*background:#fff;
	*border:1px solid #000;
	*padding:2px;
	*font: 12px arial;
}

.forminnoedit {font-family: arial;}

/* ADD FIX FOR SAFARI HERE FOR INPUT - REMOVE PADDING ON SAFARI */

select.forminfree{
	border: 1px solid black;
    font: 1em arial;
    padding: 1px;
	height:18px;
}

/* NEW CLASSES TO CONTROL SITSPAGETABS-VERT INSTEAD OF ALTERING DEFAULT CLASSES IN SITS.CSS- MENU IN 
BODY-START-TABS.HTS RENAMED TO .SITSPAGETABS-SUB */
	
.sitspagetabs-sub {
	/*border: 1px solid #29A6C9;*/  /* #3F264E*/
	width: 160px;
	height:100%;
	padding: 0 0 0 0;
	margin-top: 0px;
	padding: 0px 20px 50px 10px;
	font-family: arial;
	font-size:0.75em;
}

.sitspagetabs-sub ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}

.sitspagetabs-sub li {
	list-style: none;	
	background:url(../ucl_files/arrow-blue-fill.png) no-repeat left;
	margin: 0;
	padding-left:20px
}

.sitspagetabs-sub li a {
	display: block;
	padding: 6px;
	color: #000;
	text-decoration: none;
	width: 100%;
}

.sitspagetabs-sub li a:link {
	text-decoration: none;
	color: #000;
	font-weight:bold;
}	
	
.sitspagetabs-sub li a:hover {
	text-decoration:underline;
	color: #053355;
	font-weight:bold;
}

.sitspagetabs-sub li a:visited {
	text-decoration: none;
	color: #000;
	font-weight:bold;
}

.sitspagetabs-sub li a:active {
	text-decoration: none;
	color: #BCBFC4;
	font-weight:bold;
}
		
.sitspagetabs-sub li.menutitle {
	background:none;
	color: #446278;
    font-size: 15.2px;
    font-weight: bold;
	padding-left:0;
	padding-bottom:5px;
	/* background:#BCBFC4 url(../images/tabletitle_bg_blue-white-corner.jpg) top left no-repeat; */
}
		
#UCloading {
    display: none !important;
}		
		

tbody{width:100%}

textarea{
    border: 1px solid black;
    font-size: 12px;
    font-family: arial;
    padding: 1px;
    font-weight:normal;
    color: #666666;
}



/* NEW CLASSES TO CONTROL THE MAIN PAGE HEADERS ON DIFFERENT TYPES OF SITS SCREEN TO ENSURE ALIGNMENT IS CORRECT */

table td.pagemsg #sitspagetitlesrl{
	color: #053355;
    font-size: 3.6em;
    font-weight: normal;
    letter-spacing: -2px;
    line-height: 0.7;
    margin: 0 0 20px;
	margin-top:-45px;margin-left:-5px
}

.sitspagetitlesrl{
	color: #053355;
    font-size: 2.5em;
    font-weight: normal;
    letter-spacing: -2px;
    line-height: 0.7;
    margin: 0 0 20px;
	margin-top:-40px;
    text-align:left;
}

#sitspagetitlesrl{
	color: #053355;
    font-size: 2.5em;
    font-weight: normal;
    letter-spacing: -2px;
    line-height: 0.7;
    margin: -40px 0 20px 0 !important;
	width:50%
}

/*mc task*/
table td.pagemsg #sitspagetitletkt{
	color: #053355;
    font-size: 3.6em;
    font-weight: normal;
    letter-spacing: -2px;
    line-height: 0.7;
    margin: 0 0 20px;
	margin-top:-45px;margin-left:-5px;

}

/*mc task*/
.sitspagetitletkt{
	color: #053355;
    font-size: 2.5em;
    font-weight: normal;
    letter-spacing: -2px;
    line-height: 0.7;
    margin: 0 0 20px;
	margin-top:-40px;
    text-align:left;
}

/*mc task*/
#sitspagetitletkt{
	color: #053355;
    font-size: 2.5em;
    font-weight: normal;
    letter-spacing: -2px;
    line-height: 0.7;
    margin: 0 0 20px;
	margin-top:-40px;width:50%
}

th.sitscolhead1, th.sitscolhead2 {
	text-align:left
}

#sitspagetitlesection h1.sitspagetitle{
	*margin-top:40px
}


#vistaheader{
        position: absolute;
       left:210px;
       top:190px;
       width:50%;
	/*width:50%;
	margin-top:-40px !important;*/
}

.vistaheader{
    color: #053355;
    font-size: 2.5em;
    font-weight: normal;
    letter-spacing: -2px;
    line-height: 0.7;
    margin: 0 0 20px;
    margin-top:-40px;width:50%;
    margin-bottom:5px;
    text-align:left;
}

/* CLASSES FOR CONTROLLING FONT SIZE CHANGER AND HIGH/LOW CONTRAST */

#changer{width:100%;background:#fff;margin:bottom:5px;float:left;text-align:right}
#changer a{text-decoration:none;margin-left:5px;color:#666}
.sm{font-size:0.7em;font-weight:bold }
.mm{font-size:0.6em;font-weight:bold}
.lm{font-size:1em;font-weight:bold}

/*MC amendments recommended by Ralpah Bartholomew to stop login error box float*/
#sitsmessagebox {float:none !important;}
div#sitspagedatasection {clear:both !important;}

/*MC additions which were in our version 28 of sits.css and not originally included in this file*/
/* UCL start 7/7/09 MB - ucl version of forminfree without border*/
.uclforminfree { BORDER-RIGHT: #006699 0px; BORDER-TOP: #006699 0px; FONT:100%  Arial bold; BORDER-LEFT: #006699 0px; COLOR: #000000; BORDER-BOTTOM: #006699 0px; BACKGROUND-COLOR: #ffffff }
/* UCL end 7/7/09 MB*/

/* UCL start 17/7/09 MB - ucl version of forminnonedit with white bacgkround*/
.uclforminnonedit { BORDER-RIGHT: #006699 0px solid; BORDER-TOP: #006699 0px solid; FONT:100%  Arial bold; BORDER-LEFT: #006699 0px solid; COLOR: #000000; BORDER-BOTTOM: #006699 0px solid; BACKGROUND-COLOR: white }
/* UCL end 17/7/09 MB*/

/*UCL MC sitstablenogrid - copied from v.28 of sits.css, tho there appears to be some duplication*/
.sitstablenogrid {
	width:100%; /* overall default table width */
	margin-bottom:20px;  /*separator space below each table */
}

.sitstablenogrid caption
{	
	font-family: Arial, sans-serif;
	font-size:75%;	
	padding:6px;
	font-weight: bold;
	text-align: left;
	background-repeat: no-repeat;
/* UCL START 26/11/09 removed following at suggestion of tribal, colours replaced below
	color: #006699;
	background-image: url(../images/tabletitle_bg_blue.jpg);
	background-color: #FFFFFF; if image not available 
UCL END 26/11/09*/
/* UCL START 26/11/09 change background and font colour*/
        color: #FFFFFF;
	background-color: #006699;
/* UCL END 26/11/09*/
}

.sitstablenogrid caption,
.sitstablenogrid th,
.sitstablenogrid td {
	font-family: Arial, sans-serif;
	font-size:75%;
	padding: 4px;
	vertical-align:top;
}

.sitstablenogrid {
	background-color: #FFFFFF; /* background shade applied to all cells */
}

/*labels right aligned*/
.sitstablenogrid .rowhead1{text-align:right;}
/*UCL MC end sitstablenogrid*/

/* UCL START 25/11/09 - re-define caption to override that in the UCL uclonline2 file which has display 
for caption set to none. Then, on instructions from tribal, follow it by a 2nd declaration to make it work 
with non IE browsers as well*/
caption {
   /* JB      display:block !important; */
         font-family:Verdana,Arial,Helvetica,sans-serif;
        }
 /* JB html>body caption {
                   display: table-caption !important;
                  } */

/* UCL END 25/11/09 */

/* UCL START 21/10/2010 Make links visible within sitstabledescriptioncell by
   giving them a text colour that contrasts with the background. 
   MC 02/01/13 - colour is barely readable in new look and feel*/
.sitstabledescriptioncell a:link {
        text-decoration: underline;
}
.sitstabledescriptioncell a:visited {
        color: #CCCCCC;
}
.sitstabledescriptioncell a:hover {
        color: #888888;
}
.sitstabledescriptioncell a:active {
        color: #555555;
}
/* UCL END 21/10/2010 */

/* UCL START - New style for use in award Predictor - MRG 04032008 */

.sitstablenesteddata1 {
	background-color: #DEE3ED; /* background shade applied to all cells */
	border: 1px solid #ccc; /* table outline box */
	border-collapse: collapse;
	width:100%; 
	margin-bottom:0px; 

}  
.sitstablenesteddata1 caption
{	
	font-weight: bold;
	background-color: #cccccc;
	background-image:none; /* req. so that previous caption bg image not still used */
	color:#006699;
}

.sitstablenesteddata1 caption,
.sitstablenesteddata1 th,
.sitstablenesteddata1 td {
	font-family: Arial, sans-serif;
	font-size:70%;
	color:#000000;
	vertical-align:top;
}

.sitstablenesteddata1 th {
	background-color:#dbdbdb;
	color:#006699; 
	padding-right: 5px; /* required to keep right aligned TH row headings from edge of cell */
}
.sitstablenesteddata1 td,
.sitstablenesteddata1 th {
	border: 1px solid #ccc; /* draws grid lines for sitstablegrid style class */
	}

/* UCL END */

/* UCL START - Borderless nested table for collapsible areas */
.sitstableborderless {
        border: 0px none #000000;
        margin: 0px;
        padding: 0px;
}
.sitstableborderless th,
.sitstableborderless td {
        border: 0px none #000000;
        margin: 0px;
        padding: 0px;
}
/* UCL END */

/* UCL START - MB/MJC 07/09 New styles for use PDP area*/
.pdpheading { 
       color : #000000 ;
       font-family : Arial, sans-serif ; 
       font-size : 12px;
       font-weight: bold;
       text-align: left}
.pdpintro { 
       color : #000000 ; 
       font-family : Arial, sans-serif ; 
       font-size : 12px;}
.pdplabel { 
       color : #000000 ; 
       font-family : Arial, sans-serif ; 
       font-size : 12px;
       font-weight: bold;}
.pdpemphasis { 
       color : #FF0000 ; 
       font-family : Arial, sans-serif ; 
       font-size : 12px;}

.dashes {
border-top: 3px dashed #000000;
margin-top: 5px;
}


/* UCL END - MB 7/7/09
/*************************************************************/
/* UCL additions re 8.4.1 TTQ Radio Buttons workaround */
/*************************************************************/

/* to use in TTQ_SSCC field style as part of 8.4.1 Upgrade fix - for MANDATORY radio buttons */

.bginside_841_M {
	background-color: #F7B7CE;
		}
/* to use in TTQ_QTXT Question Prefix div class as part of 8.4.1 Upgrade fix - for MANDATORY radio buttons */

.bginside_div_841_M {
	background-color: #F7B7CE;
	border:1px solid #069;
	padding:2px;
		}

/* to use in TTQ_SSCC field style as part of 8.4.1 Upgrade fix - for NON-MANDATORY radio buttons */

.bginside_841_NM {
	background-color: ;
	
		}
/* to use in TTQ_QTXT Question Prefix div class as part of 8.4.1 Upgrade fix - for NON-MANDATORY radio buttons */

.bginside_div_841_NM {
	border:1px solid #069;
	padding:2px;
		}


/********************************************************************************/
/* UCL additions - warning text in yellow in eVision task U_GI_GATASS  SCR08536 */
/********************************************************************************/

/* Warning notation 1 */
.warning1 {  font-family: Arial, sans-serif; font-size: 100%; color:  #FFFF00}


/********************************************************************************/
/* UCL additions -  uclbuttonunder - button under block centred */
/********************************************************************************/

.uclbuttonunder {  text-align: center;}


/********************************************************************************/
/* UCL additions -  avoid compounding nested table font size                    */
/********************************************************************************/

.sitstablegrid table { font-size: 133%; }
.sitstablenogrid table { font-size: 133%; }
.sitstableoutline table { font-size: 133%; }

/********************************************************************************/
/* UCL additions - th used in vista list column headings in tribal default      */
/*                  caption make bold as per other table captions               */
/********************************************************************************/
/*.sitstablegrid th { text-align: left; }*/
.sitstablegrid caption {font-weight: bold !important;}


/********************************************************************************/
/* UCL additions - link based on portal link with dashed top border removed      */
/********************************************************************************/

#uclportallink{ border-top-style:none;  }
.uclportallink{ border-top-style:none !important;  }
/********************************************************************************/
/* UCL additions - over-ride verdana font in sits.css                           */
/********************************************************************************/
.forminnonedit {font-family: arial;}

/* UCL addition - link style from previous style sheet uses solid arrow */
.ucllink {text-decoration:none;}

.ucllink a {
  padding-left:20px;
  background:url(../ucl_files/arrow-blue-fill.png) no-repeat scroll 0 0 transparent;
  position:relative;
}

.ucllink a:link, .ucllink a:visited {font-weight:bold; color:#222; text-decoration:none;}

.ucllink a:hover {color:#000; text-decoration:underline;}

/* end of UCL addition - link style */


/*images primarily for PDP in first instance*/
img.figure{
float: right;
margin-left: 10px;
margin-bottom: 10px;
border: 1px solid #666;
padding: 10px;

}

h2{
color: #053355;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 0 20px;
}

/*styles for 2 column layout with space inbetween*/
.left {
    float: left;
    width: 49%;
}

.right {
    margin-left: 51% !important;
}

#sitsheaderimage1 img {border:0;}

/********************************************************************************/
/* UCL additions - styles for disabling screen to stop multiple commits.        */
/********************************************************************************/
#blackout {
    background:rgba(0,0,0,0.3);
    display:none;
    width:100%; height:100%;
    position:fixed; top:0; left:0; z-index:99998;
}

#loading {
    background:rgb(255,255,255);
    display:none;
    position:fixed;
    top:50%;
    left:50%;
    width:200px; height:100px;
    margin-left:-100px;
    margin-top:-50px;
    z-index:99999;  
}

/***************************************************/
/*UCL to override unreadable styles in siw_ymes.css*/
/***************************************************/

.msginfo #sitsmessagecontentsection{
	color:#000000 !important;
}

#sitsmessagetitlesection {
	color:#000000 !important;
}

/**************************************************************/
/*UCL Additons override unwanted background images in sits.css*/
/**************************************************************/
.tablemsg1 {
background-image: none !important;
}
p.sitscontrols {  
background-image: none !important;
}
.sitscondescription {
background-image: none !important;
}
.sitstabledescriptioncell {
background-image: none !important;
}
p.sitscontrolsnotabs{
background-image: none !important;
}
.sitscondescriptionnotabs{
background-image: none !important;
}

/********************************************************************************/
/* UCL additions - END     */
/********************************************************************************/


/****************************************************************/
/*Styles used in Curiculum Planner    -added by DSHAM56         */
/****************************************************************/

th, td.left_align {
  text-align:left;
}

th.width_25 {
  width: 25%;
}

p.error {
  color: red;
  font-weight:bold;
}

p.button {
  text-align:center;
}

p.confirm_message {
  text-align: right;
  color:green;
  font-weight: bold;
}

#table_select_width {
  width: 5%;
}

#table_long_width {
  width: 20%;
}

#table_med_width {
  width: 10%;
}

.tooltip {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#29A6C9;
	border-radius:5px;
	padding:10px;
	color:#fff;
	font-size:12px Arial;
}

p.title_font {
  color:#29A6C9;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 5px;
  margin: 5px;
}

p.norm_font {
  font-family: arial;
  padding: 4px;
  vertical-align: top;
  text-align: left;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}


.textarea_fixed {
    height: 150px;
    width: 300px;
    overflow: auto;
}


.inlinediv {
    display: inline-block;
    font-weight: bold;
}

td.active {
  background-color: #20768e;
}


/****************************************************************/
/* End of Styles used in Curiculum Planner                      */
/****************************************************************/

/* Start of UCL Indigo classes required for header and footer in Portico 9 */

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

  .visually-hidden.focusable:active, .visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }  

.text-muted {
    color: #999;
}

small,
.small {
  font-weight: 400;
  font-size: 12px;
  font-size: 1.2rem; }.as-h5 {
    font-size: 14px;
    font-size: 1.4rem;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
}

/* 
* Base name: Layout
* Note: N/A
-------------------------------------------------------------- */
.wrapper {
  margin: 0 auto;
  /* max-width: 1400px; */
  /* Set to none for Portico 9 */
  max-width: none;
  /* width: 90%; */
  /* Set to 100% for Portico 9 */
  width:100%; 
  position: relative; }

/* 
* Pattern name: Header
* Use: Wrapping masthead and branding areas
* Note: Desktop and mobile headers are seperated due to how the UCL menu is moved off convas on mobile
-------------------------------------------------------------- */
.header {
  position: relative;
  z-index: 10; }
@media only screen and (max-width: 767px) {
  .header--desktop {
    background-color: #5f5f5f;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    left: -100%; }
    .mobile-open .header--desktop {
      left: 0; }
    .header--desktop a {
      color: #ffffff;
      padding: 0.5em 0;
      display: block;
      clear: both;
      font-size: 16px;
      font-size: 1.6rem; } }

.header--mobile {
  display: none;
  width: 100%;
  padding: 20% 35px 0;
  background-size: auto 100%;
  /* background-position: 106% bottom; */
  /* Set to 100% bottom for Portico 9 - the hamburger icon is not included so the UCL logo nees to be pushed back to the right */
  background-position: 100% bottom;
  background-image: url("//cdn.ucl.ac.uk/indigo/images/ucl-logo.svg");
  background-repeat: repeat-x;
  position: relative;
  /* left: -35px; */
  /*Set to 0 for Portico 9 */
  left: 0;
  /* background-color: #ff5a5f; */
  /* Set to blue for Portico 9 */
  background-color: #29a6c9;
  /* border-bottom: 0.5em solid #ff5a5f; */
  /* Set to blue for Portico 9 */
  border-bottom: 0.5em solid #29a6c9; }

  @media only screen and (max-width: 767px) {
    .header--mobile {
      display: block; } }

  .header--mobile.no-svg {
    background-image: url("//cdn.ucl.ac.uk/indigo/images/ucl-logo-cropped-white.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: #000000;
    background-size: 30%; }

  .header--mobile--brand__link {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    top: 0; }

@media only screen and (max-width: 767px) {
  .header--desktop {
    background-color: #5f5f5f;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    left: -100%; }
    .mobile-open .header--desktop {
      left: 0; }
    .header--desktop a {
      color: #ffffff;
      padding: 0.5em 0;
      display: block;
      clear: both;
      font-size: 16px;
      font-size: 1.6rem; } }

/* 
* Pattern name: Photograph banner
* Use: Background photo/colour to be displayed behind UCL banner
* Note: Modifier gives .photograph more space as well as making the optional photography description visible.
-------------------------------------------------------------- */
.photograph {
  /* background-color: #ff5a5f; */
  /* Set to blue for Portico 9 */
  background-color: #29a6c9;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  /* left: -35px; */
  /* Set to 0 for Portico 9 */
  left: 0;
  padding: 0 35px;
  padding-bottom: 10.5%; }

  @media only screen and (max-width: 767px) {
    .photograph {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding: 2em 0 0em 0;
      left: 0;
      background-color: transparent; } }    

         

/* 
* Pattern name: Brand
* Use: The UCL banner area
* Note: The UCL logo is made clickable via using an absolutely positioned link. (see .brand__link)
-------------------------------------------------------------- */
.brand {
  position: absolute;
  z-index: 1;
  overflow: visible;
  width: 100%;
  /*  max-width: 1470px; */
  /* set to none for Portico 9 to fill screen width */
  max-width: none;
  left: 0; }

  @media only screen and (max-width: 767px) {
    .brand {
      position: static;
      padding-left: 0; }
      .brand p {
        left: 0;
        top: 50%; } }

.brand__link {
  position: absolute;
  height: 50%;
  width: 18%;
  right: 0;
  display: block;
  bottom: 0; }
  .lt-ie9 .brand__link {
    display: none; }

.brand__heading {
  position: absolute;
  left: 35px;
  top: 25%;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  font-size: 1.4rem; }

  @media only screen and (max-width: 767px) {
    .brand__heading {
      position: relative;
      left: 0;
      width: 100%;
      box-sizing: border-box; } }

.brand__logo {
  display: block;
  margin-bottom: 0;
  width: 100%; }

  @media only screen and (max-width: 767px) {
    .brand__logo {
      display: none; } }

/* Block columns
-------------------------------------------------------------- */
.block {
  margin-bottom: 1em; }

.block--col-1 {
  display: block;
  float: left;
  margin-left: 0%;
  margin-right: -100%;
  width: 31.30645%; }

  @media only screen and (max-width: 989px) {
    .block--col-1 {
      display: block;
      float: left;
      margin-left: 0%;
      margin-right: -100%;
      width: 31.59722%; } }

  @media only screen and (max-width: 767px) {
    .block--col-1 {
      clear: both;
      display: block;
      float: left;
      margin-left: 0;
      width: 100%; } }

.block--col-2 {
  display: block;
  float: left;
  margin-left: 34.33675%;
  margin-right: -100%;
  width: 31.28827%; }

  @media only screen and (max-width: 989px) {
    .block--col-2 {
      display: block;
      float: left;
      margin-left: 34.20139%;
      margin-right: -100%;
      width: 31.59722%; } }

  @media only screen and (max-width: 767px) {
    .block--col-2 {
      clear: both;
      display: block;
      float: left;
      margin-left: 0;
      width: 100%; } }

.block--col-3 {
  display: block;
  float: left;
  margin-left: 68.65532%;
  margin-right: -100%;
  width: 31.27734%; }

  @media only screen and (max-width: 989px) {
    .block--col-3 {
      display: block;
      float: left;
      margin-left: 68.40278%;
      margin-right: -100%;
      width: 31.59722%; } }

  @media only screen and (max-width: 767px) {
    .block--col-3 {
      clear: both;
      display: block;
      float: left;
      margin-left: 0;
      width: 100%; } }
            

/* 
* Pattern name: Footer
* Use: Handling links, credits and footnotes
* Note: N/A
-------------------------------------------------------------- */
.footer__inner {
  background-color: #40403e;
  padding: 40px 35px;
  /* margin-left: -35px; */
  /* margin-right: -35px; */
  /* Set to 0 for Portico 9 */
  margin-left: 0;
  margin-right: 0;
  color: #fff;
  clear: left; }

  .footer__inner h2 {
    font-size: 1.6rem;
    text-transform: none; }

  .footer__inner a {
    color: #eee; }
    .footer__inner a:hover, .footer__inner a:active, .footer__inner a:focus {
      color: #ffffff; }

.footer__list {
  margin-left: 0;
  padding-left: 0;
  list-style: none; }

  .footer__list li {
    margin-left: 0;
    list-style-type: none; }

    .footer__list li:before {
      background-color: transparent !important; }

.footer__item {
  padding-bottom: 4px;
  padding-top: 4px;
  display: block;
  margin-bottom: 0;
  font-size: 14px;
  font-size: 1.4rem; }

.footer__links {
  margin-top: 0.5em;
  font-size: 14px;
  font-size: 1.4rem; }

  @media (max-width: 989px) {
    .footer__links {
      font-size: 12px;
      font-size: 1.2rem; } }

         

/* Other classes required */

.dl-inline, .clearfix, .hero, .media {
  zoom: 1; }

  .dl-inline:before, .dl-inline:after, .clearfix:before, .hero:before, .media:before, .clearfix:after, .hero:after, .media:after {
    content: "";
    display: table; }

  .dl-inline:after, .clearfix:after, .hero:after, .media:after {
    clear: both; }

.list-unstyled, .list-inline, .pills {
  margin-left: 0;
  padding-left: 0;
  list-style: none; }

  .list-unstyled li, .list-inline li, .pills li {
    margin-left: 0;
    list-style-type: none; }

    .list-unstyled li:before, .list-inline li:before, .pills li:before {
      background-color: transparent !important; }

.list-inline, .pills {
  display: inline;
  margin-left: 0; }

  .list-inline > li, .pills > li {
    margin-right: 10px;
    display: -moz-inline-stack;
    display: inline-block;
    *vertical-align: auto;
    zoom: 1;
    *display: inline; }

.list-inline--divided li:after {
  content: "|";
  margin-left: 10px; }

.list-inline--divided li:last-child:after {
  content: "";
  display: none; }

/* Indigo <hr> rule applied just to .footer__inner to retain Tribal <hr> rules elsewhere */
.footer__inner hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    clear: both;
}

/* Needs to be set to override properties set in Tribal or legacy UCL CSS */

.footer__inner h2, .footer__inner a:link, footer__inner a:visited {
  color: #fff;
  text-decoration: none;
  margin-top: 0;
}

.footer__inner a:hover {
  text-decoration: underline;
}

@media (min-width: 1471px) {
    .brand {
        background-color: black;    
    }

    .brand__logo {
        width: auto;
        float: right;
        max-width: 1470px;
        background-color: #29a6c9;
    }

    .photograph {
      padding-bottom: 151px;
    }
}

@media print {
/* Required for header and footer */
    body {
      background: white;
    }

    .header {
      display: none !important;
    }

    .footer__links {
      display: none;
    }

    .footer__inner {
      color: black;
      background-color: white;
      padding: 0px 35px;
    }

    .footer__inner .block {
        display: none;
    }

    .footer__inner #social {
        display: none;
    }

    /* Hides the links on the last line */
    .footer__inner .text-muted {
        display: none;
    }

    /* Removes the bullet points from the postal address and copyright */
    .footer__inner li {
      list-style-type: none;
    }
}
/* End of UCL Indigo classes required for header and footer in Portico 9 */