#page-container {
    position: relative;
    min-height: 100vh;
}
header {
    background-color: whitesmoke;
    color: black;
    text-align: center;
    box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.1);
}
#content {
    padding-right: 10px;
    padding-left: 10px;
    overflow: auto;
    padding-bottom: 2.5rem;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 56px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: small;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.1);
}
.comment-edit {
    min-width: 10px;
    max-width: 150px; 
    word-wrap: break-word;
}

.welcome-login-text {
    padding-top: 5px;
    margin: 5px;
    font-size: medium;
    font-weight: 400;
    color: black;
}
.login-via-ucl {
    display: inline-block;
    background-color: #52347B;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: medium;
    padding: 20px;
    transition: all 0.3s;
    cursor: pointer;
    margin: 5px;
    font-weight: 600;
}
.login-via-ucl:hover {
    color: #FFFFFF;
    background-color: #F06747;
}
.login-via-ucl-text {
    margin-left: 5px;
    font-size: medium;
    font-weight: 500;
    color: black;
}
.login-other {
    display: inline-block;
    background-color: white;
    color: #52347B;
    text-align: center;
    font-size: medium;
    padding: 20px;
    transition: all 0.3s;
    cursor: pointer;
    margin: 5px;
    font-weight: 600;
    border: 2px solid #52347B;
}

.login-other:hover {
  background-color: #52347B; 
  color: white; 
  border: 2px solid #52347B;
}